@model Bookit.Models.Book

<div class="col-sm-3">
    <img src="@Model.ImagePath" alt="@Model.Name" class="img-responsive" style="width:100px;height:100px" />
    <p>
        <a asp-action="More" asp-route-id="@Model.Id" asp-controller="Book" asp-area="" class="btn btn-primary">More...</a>
    </p>
</div>