@model IEnumerable<Bookit.Models.Book>

@{
    ViewData["Title"] = "Gallery";
}

<h1>Book Gallery</h1>
<hr />
@foreach (var item in Model)
{
    <partial name="_BookItemPartial" model="item" />
    <hr>
}
